<div class="flex flex-col grow p-10">
  <div class="flex py-3 justify-end">
    <app-button type="primary" (click)="goToMovementTypeDetail(0)">Ajouter un type de mouvement</app-button>
  </div>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg ">
    <table class="w-full text-sm text-left rtl:text-right text-gray-700">
        <thead class="text-xs text-white uppercase bg-gray-700">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Désignation
                </th>
            </tr>
        </thead>
        <tbody>
            <tr (click)="goToMovementTypeDetail(movementType.id)" *ngFor="let movementType of tMovementType"
            class="odd:bg-white even:bg-gray-100 hover:bg-gray-200 border-b">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    {{movementType.label}}
                </th>

            </tr>
            <ng-container *ngIf="tMovementType.length === 0">
              <tr
              class="odd:bg-white even:bg-gray-50 border-b">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                      Pas de type de mouvement enregistré
                  </th>

                </tr>
            </ng-container>
        </tbody>
    </table>
  </div>
</div>


