
<div class="flex flex-col grow w-full gap-5" *ngIf="oInventory">
  <div class="flex flex-row justify-end content-center">
    <app-button type="primary" (click)="goToMovementDetail(0)">Ajouter un mouvement de stock</app-button>
  </div>

  <div class="flex flex-col gap-5">
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-700">
          <thead class="text-xs text-white uppercase bg-gray-700">
              <tr>
                <th scope="col" class="px-6 py-3">
                    Référence
                </th>
                <th scope="col" class="px-6 py-3">
                    Type de mouvement
                </th>
                <th scope="col" class="px-6 py-3">
                    Destination
                </th>
              </tr>
          </thead>
          <tbody>
              <tr (click)="goToMovementDetail(inventoryMovement.id)" *ngFor="let inventoryMovement of toInventoryMovement"
              class="odd:bg-white even:bg-gray-100 hover:bg-gray-200 border-b cursor-pointer">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                      {{inventoryMovement.reference}}
                  </th>
                  <td class="px-6 py-4">
                    {{inventoryMovement.oMovementType.label}}
                  </td>
                  <td class="px-6 py-4">
                    {{inventoryMovement.oDestinationInventory ? inventoryMovement.oDestinationInventory.label : ''}}
                  </td>
              </tr>
              <ng-container *ngIf="toInventoryMovement.length === 0">
                <tr
                class="odd:bg-white even:bg-gray-50 border-b">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Pas de mouvement enregistré
                    </th>
                    <td></td>
                    <td></td>
                  </tr>
              </ng-container>
          </tbody>
      </table>
      </div>
  </div>
</div>
