<ng-container *ngIf="inventoryMovement">
  <div class="p-4 bg-white shadow-md rounded-lg">
    <h3 class="text-lg font-semibold text-gray-800">Résumé du Mouvement</h3>
    <div class="mt-4">
      <p><strong>Référence :</strong> {{ inventoryMovement.reference }}</p>
      <p><strong>Type de mouvement :</strong> {{ inventoryMovement.oMovementType.label }}</p>
      <p><strong>Date et Heure du mouvement :</strong> {{ inventoryMovement. dateTime| date:'medium' }}</p>
      <p><strong>Source :</strong> {{ inventoryMovement.oSourceInventory?.label ?? 'Non attribué' }}</p>
      <p><strong>Destination :</strong> {{ inventoryMovement.oDestinationInventory?.label ?? 'Non attribué' }}</p>
      <p><strong>Description :</strong> {{ inventoryMovement.description }}</p>
    </div>
    <div class="mt-4">
      <div class="overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Article
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Quantité
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <ng-container *ngFor="let line of inventoryMovement.tMovementLine">
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  {{ line.oArticle.referenceCode }} - {{ line.oArticle.label}}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  {{ line.quantity }}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</ng-container>

