<div class="flex flex-col grow p-10">
  <div class="flex py-3 justify-end">
    <app-button type="primary" (click)="openSession()">Lancer une session de vente</app-button>
  </div>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg max-h-[70vh] overflow-y-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-700">
        <thead class="text-xs text-white uppercase bg-gray-700">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Réfeence
                </th>
                <th scope="col" class="px-6 py-3">
                  Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let session of tSaleSession"
            (click)="goToSaleSession(session.id)"
            class="odd:bg-white even:bg-gray-100 hover:bg-gray-200 border-b cursor-pointer">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                  {{session.saleSessionReference ?? 'Pas de référence renseignée'}}
                </th>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    {{session.creationDate.toLocaleDateString()}}
                </th>
                <td class="px-6 py-4">
                  <ng-container *ngIf="session.status === 'ongoing'">
                    En cours
                  </ng-container>
                  <ng-container *ngIf="session.status === 'closed'">
                    Fermée
                  </ng-container>
                </td>
            </tr>
            <ng-container *ngIf="tSaleSession.length === 0">
              <tr
              class="odd:bg-white even:bg-gray-50 border-b">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                      Pas de session de vente
                  </th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
            </ng-container>
        </tbody>
    </table>
  </div>
</div>
