<div class="flex flex-col h-full" *ngIf="inventory">
  <!-- Filtres et bouton d'ajout -->
  <div class="flex flex-col sm:flex-row justify-between items-center mb-4">
    <div class="flex flex-col sm:flex-row w-full sm:w-2/3 gap-4 mb-4 sm:mb-0">
      <form [formGroup]="searchForm" class="w-full sm:w-1/2 relative">
        <input type="text"
               formControlName="searchTerm"
               class="w-full p-2.5 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
               placeholder="Rechercher un article...">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
        </div>

    </form>

    </div>

    <app-button type="primary" (click)="addMovementStock()">Ajouter un mouvement de stock</app-button>
  </div>

  <!-- Tableau avec défilement -->
  <div class="flex-grow flex flex-col overflow-hidden">
    <div class="overflow-x-auto shadow-md sm:rounded-lg max-h-[calc(100vh-12rem)]">
      <table class="w-full text-sm text-left rtl:text-right text-gray-700">
        <thead class="text-xs text-white uppercase bg-gray-700 sticky top-0 z-10">
          <tr>
            <th scope="col" class="px-6 py-3 cursor-pointer" (click)="sortInventoryLines('referenceCode')">
              Code de référence
              <span class="ml-1">{{ sortColumn === 'referenceCode' ? (sortDirection === 'asc' ? '▲' : sortDirection === 'desc' ? '▼' : '◆') : '◆' }}</span>
            </th>
            <th scope="col" class="px-6 py-3 cursor-pointer" (click)="sortInventoryLines('label')">
              Désignation
              <span class="ml-1">{{ sortColumn === 'label' ? (sortDirection === 'asc' ? '▲' : sortDirection === 'desc' ? '▼' : '◆') : '◆' }}</span>
            </th>
            <th scope="col" class="px-6 py-3 cursor-pointer" (click)="sortInventoryLines('category')">
              Catégorie
              <span class="ml-1">{{ sortColumn === 'category' ? (sortDirection === 'asc' ? '▲' : sortDirection === 'desc' ? '▼' : '◆') : '◆' }}</span>
            </th>
            <th scope="col" class="px-6 py-3 cursor-pointer" (click)="sortInventoryLines('quantity')">
              Quantité
              <span class="ml-1">{{ sortColumn === 'quantity' ? (sortDirection === 'asc' ? '▲' : sortDirection === 'desc' ? '▼' : '◆') : '◆' }}</span>
            </th>
            <th scope="col" class="px-6 py-3 cursor-pointer" (click)="sortInventoryLines('value')">
              Valeur
              <span class="ml-1">{{ sortColumn === 'value' ? (sortDirection === 'asc' ? '▲' : sortDirection === 'desc' ? '▼' : '◆') : '◆' }}</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let inventoryLine of filteredInventoryLines"
              class="odd:bg-white even:bg-gray-100 hover:bg-gray-200 border-b">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
              {{inventoryLine.oArticle.referenceCode}}
            </th>
            <td class="px-6 py-4">
              {{inventoryLine.oArticle.label}}
            </td>
            <td class="px-6 py-4">
              {{inventoryLine.oArticle.oCategory.label}}
            </td>
            <td class="px-6 py-4">
              {{inventoryLine.quantity}}
            </td>
            <td class="px-6 py-4">
              {{(inventoryLine.oArticle.unitPrice * inventoryLine.quantity) | round}} €
            </td>
          </tr>
          <ng-container *ngIf="filteredInventoryLines.length === 0">
            <tr class="bg-white border-b">
              <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap" colspan="5">
                Pas d'articles présents dans le stock
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
