<div class="flex flex-col grow w-full gap-5" *ngIf="inventory">
  <div class="flex flex-row justify-end content-center">
    <app-button>Ajouter une transaction</app-button>
  </div>

  <div class="flex flex-col gap-5">
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                  <th scope="col" class="px-6 py-3">
                      Code de référence
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Désignation
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Catégorie
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Quantité
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Valeur
                  </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let invetoryLine of inventory.tInventoryLine"
                class="odd:bg-white even:bg-gray-50 border-b">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        {{invetoryLine.oArticle.referenceCode}}
                    </th>
                    <td class="px-6 py-4">
                        {{invetoryLine.oArticle.label}}
                    </td>
                    <td class="px-6 py-4">
                      {{invetoryLine.oArticle.oCategory.label}}
                    </td>
                    <td class="px-6 py-4">
                        {{invetoryLine.quantity}}
                    </td>
                    <td class="px-6 py-4">
                      {{invetoryLine.oArticle.unitPrice * invetoryLine.quantity}} €
                  </td>
                </tr>
                <ng-container *ngIf="inventory.tInventoryLine.length === 0">
                  <tr
                  class="odd:bg-white even:bg-gray-50 border-b">
                      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                          Pas de d'articles présent dans le stock
                      </th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
                </ng-container>
            </tbody>
        </table>
      </div>
  </div>
</div>
