
<nav class="nav-bar w-full flex flex-wrap items-center justify-between px-2 py-3 bg-gradient-to-r from-blue-900 to-blue-400 ">
  <div class="container px-4 mx-auto flex flex-nowrap items-center justify-between">
    <div class=" relative flex justify-between  px-4 ">
      <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white" routerLink="dashboard">
        EASY INVENTORY
      </a>
    </div>
    <div  class=" lg:flex  items-center">
      <ul class="flex flex-row list-none ">
        <li class="text-center">
          <a class="px-2 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" routerLink="inventory" routerLinkActive="active-link">
           <span class="ml-2">GESTION DES STOCKS</span>
          </a>
        </li>
        <li class="text-center">
          <a class="px-2 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" routerLink="sales" routerLinkActive="active-link">
            <span class="ml-2">VENTES</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="px-2 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" routerLink="products" routerLinkActive="active-link">
            <span class="ml-2">CATALOGUE ARTICLES</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="px-2 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" routerLink="administration" routerLinkActive="active-link">
            <span class="ml-2">ADMINISTRATION</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="breadcrumb py-2 px-5">
  <nav class="flex" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
      <ng-container *ngFor="let breadcrumbItem of breadcrumb; let i = index">
        <li class="inline-flex items-center">
          <a [routerLink]="breadcrumbItem.link.split('/')" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-300">
            {{breadcrumbItem.label}}
          </a>
        </li>
        <li *ngIf="i !== breadcrumb.length -1">
          <div class="flex items-center">
            <svg class="rtl:rotate-180 w-3 h-3 text-blue-700 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
          </div>
        </li>
      </ng-container>
    </ol>
  </nav>

</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
