:host{
  .active-link{
    border-bottom-width: 2px;
    --tw-border-opacity: 1;
    border-bottom-color: rgb(255 255 255 / var(--tw-border-opacity)) /* #ffffff */;
  }
  .nav-bar{
    height: 60px;
  }

  .breadcrumb{
    height : 40px;
  }

  .content{
    height: calc(100vh - 100px);
  }

}
