<ol class="items-center w-full space-y-4 sm:flex sm:space-x-8 sm:space-y-0 rtl:space-x-reverse">
  <ng-container *ngFor="let step of steps">
    <li class="flex items-center  text-gray-500  space-x-2.5 rtl:space-x-reverse"
      [ngClass]="step.onGoing === true ? 'text-blue-600' : ''"
      [ngClass]="step.isValidated === true ? 'text-green-400' : ''"
    >
      <span class="flex items-center justify-center w-8 h-8 border border-gray-500 rounded-full shrink-0"
      [ngClass]="step.onGoing === true ? 'border-blue-600' : ''"
      [ngClass]="step.isValidated === true ? 'border-green-400' : ''"
      >
          {{step.id}}
      </span>
      <span>
          <h3 class="font-medium leading-tight">{{step.label}}</h3>
          <p class="text-sm">{{step.description}}</p>
      </span>
  </li>


  </ng-container>
</ol>

<div>
  <ng-container></ng-container>
</div>
