<ol class="items-center w-full space-y-4 sm:flex sm:space-x-8 sm:space-y-0 rtl:space-x-reverse">
  <ng-container *ngFor="let step of steps">
    <li class="flex items-center    space-x-2.5 rtl:space-x-reverse"
      [ngClass]="{
        'text-gray-500': step.onGoing === false && step.isValidated === false,
        'text-blue-600': step.onGoing === true,
        'text-green-600': step.isValidated === true
      }"
    >
      <span class="flex items-center justify-center w-8 h-8 shrink-0 rounded-full"
      [ngClass]="{
        'border-gray-500': !step.onGoing && !step.isValidated,
        'border-blue-600': step.onGoing,
        'border-green-600': step.isValidated
      }"
      [ngStyle]="{'border-style': 'solid', 'border-width': '1px'}"
      >
          {{step.id}}
      </span>
      <span>
          <h3 class="font-medium leading-tight">{{step.label}}</h3>
          <p class="text-sm">{{step.description}}</p>
      </span>
    </li>


  </ng-container>
</ol>
<hr class="h-px my-8 bg-gray-200 border-0">
<div>
  <ng-container *ngIf="stepDisplayed === 1">
    <div class="w-full flex flex-row justify-end gap-5 mb-5">
      <app-button (click)="validateStep1()">Suivant</app-button>
    </div>

    <form class="flex flex-col gap-3 grow-0" [formGroup]="formMovementInformation" *ngIf="formMovementInformation">
      <span>{{formMovementInformation.get('reference').value}}</span>

      <div class="w-1/4" appInputError>
        <label for="movementtype" class="block mb-1 text-sm font-medium text-gray-800 ">Type de mouvement</label>
        <select id="movementtype" formControlName="movementTypeId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
          <option [value]="mouvementType.id" *ngFor="let mouvementType of toMovementType">{{mouvementType.label}}</option>
        </select>
      </div>

      <div class="w-1/4">
        <label for="movementtype" class="block mb-1 text-sm font-medium text-gray-800 ">Date du mouvement</label>
        <app-date-picker formControlName="dateTime">

        </app-date-picker>
      </div>

      <div>

        <ng-container *ngIf="movmentTypeSelected">
          <ng-container *ngIf="movmentTypeSelected.isInternal === true">
            <div class="w-1/4" appInputError>
              <label for="sourceinventory" class="block mb-1 text-sm font-medium text-gray-800 ">Source</label>
              <select id="sourceinventory" formControlName="sourceInventoryId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                <option [value]="invenotry.id" *ngFor="let invenotry of toInventory">{{invenotry.label}}</option>
              </select>
            </div>
            <div class="w-1/4" appInputError>
              <label for="destinationinventory" class="block mb-1 text-sm font-medium text-gray-800 ">Destination</label>
              <select id="destinationinventory" formControlName="destinationInventoryId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                <option [value]="inventory.id" *ngFor="let inventory of toInventory">{{inventory.label}}</option>
              </select>
            </div>
          </ng-container>

          <ng-container *ngIf="!movmentTypeSelected.isInternal">
            <div class="w-1/4" appInputError>
              <label for="destinationinventory" class="block mb-1 text-sm font-medium text-gray-800 ">Destination</label>
              <select id="destinationinventory" formControlName="destinationInventoryId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                <option [value]="inventory.id" *ngFor="let inventory of toInventory">{{inventory.label}}</option>
              </select>
            </div>
          </ng-container>

        </ng-container>
      </div>

    </form>
  </ng-container>

  <ng-container *ngIf="stepDisplayed === 2">
    <div class="w-full flex flex-row justify-between gap-5 mb-5">
      <app-button (click)="retourStep1()">Retour</app-button>
      <app-button (click)="validateStep2()">Suivant</app-button>
    </div>
    <ng-container *ngIf="movmentTypeSelected.isInternal === true">
      <div class="flex flex-col gap-5">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                  <tr>
                    <th scope="col" class="px-6 py-3">
                        Code de référence
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Désignation
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Quantité
                    </th>
                  </tr>
              </thead>
              <tbody>
                  <tr
                  class="odd:bg-white even:bg-gray-50 border-b">
                      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">

                      </th>
                      <td class="px-6 py-4">

                      </td>
                      <td class="px-6 py-4">

                      </td>
                  </tr>
                  <ng-container >
                    <tr
                    class="odd:bg-white even:bg-gray-50 border-b">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                            Pas de d'articles présent dans le stock
                        </th>
                        <td></td>
                        <td></td>
                    </tr>
                  </ng-container>
              </tbody>
          </table>
        </div>
    </div>
    </ng-container>

    <ng-container *ngIf="!movmentTypeSelected.isInternal">
      <div class="flex flex-col gap-5">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                  <tr>
                    <th scope="col" class="px-6 py-3">
                        Code de référence
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Désignation
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Quantité
                    </th>
                  </tr>
              </thead>
              <tbody>
                  <tr
                  class="odd:bg-white even:bg-gray-50 border-b">
                      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">

                      </th>
                      <td class="px-6 py-4">

                      </td>
                      <td class="px-6 py-4">

                      </td>
                  </tr>
                  <ng-container >
                    <tr
                    class="odd:bg-white even:bg-gray-50 border-b">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">

                        </th>
                        <td><app-button>Ajouter une ligne</app-button></td>
                        <td></td>
                    </tr>
                  </ng-container>
              </tbody>
          </table>
        </div>
    </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="stepDisplayed === 3">

  </ng-container>
</div>
