<ng-container *ngIf=""></ng-container>
<ol class="items-center w-full space-y-4 sm:flex sm:space-x-8 sm:space-y-0 rtl:space-x-reverse" *ngIf="formMovementInformation">
  <ng-container *ngFor="let step of steps">
    <li class="flex items-center    space-x-2.5 rtl:space-x-reverse"
      [ngClass]="{
        'text-gray-500': step.onGoing === false && step.isValidated === false,
        'text-blue-600': step.onGoing === true,
        'text-green-600': step.isValidated === true
      }"
    >
      <span class="flex items-center justify-center w-8 h-8 shrink-0 rounded-full"
      [ngClass]="{
        'border-gray-500': !step.onGoing && !step.isValidated,
        'border-blue-600': step.onGoing,
        'border-green-600': step.isValidated
      }"
      [ngStyle]="{'border-style': 'solid', 'border-width': '1px'}"
      >
          {{step.id}}
      </span>
      <span>
          <h3 class="font-medium leading-tight">{{step.label}}</h3>
          <p class="text-sm">{{step.description}}</p>
      </span>
    </li>


  </ng-container>
</ol>
<hr class="h-px my-8 bg-gray-200 border-0">
<div>
  <ng-container *ngIf="stepDisplayed === 1">
    <div class="w-full flex flex-row justify-end gap-5 mb-5">
      <app-button type="primary" (click)="validateStep1()">Suivant</app-button>
    </div>

    <form class="flex flex-col gap-3 grow-0" [formGroup]="formMovementInformation" *ngIf="formMovementInformation">
      <span><strong>Référence :</strong> {{formMovementInformation.get('reference').value}}</span>

      <app-select class="w-1/4" formControlName="movementTypeId" [tOptions]="toMovementType"   label="Type de mouvement"></app-select>

      <div class="w-1/4">
        <label for="movementtype" class="block mb-1 text-sm font-medium text-gray-800 ">Date du mouvement</label>
        <app-date-picker formControlName="dateTime">
        </app-date-picker>
      </div>

      <div>

        <ng-container *ngIf="movmentTypeSelected">
          <ng-container *ngIf="movmentTypeSelected.isInternal === true">
            <app-select class="w-1/4" formControlName="sourceInventoryId" [tOptions]="toInventory"  label="Source"></app-select>
            <app-select class="w-1/4" formControlName="destinationInventoryId" [tOptions]="toInventory"   label="Destination"></app-select>
          </ng-container>

          <ng-container *ngIf="!movmentTypeSelected.isInternal">
            <app-select class="w-1/4" formControlName="destinationInventoryId" [tOptions]="toInventory"   label="Destination"></app-select>
          </ng-container>

        </ng-container>
      </div>

    </form>
  </ng-container>

  <ng-container *ngIf="stepDisplayed === 2">
    <div class="w-full flex flex-row justify-between gap-5 mb-5">
      <app-button (click)="retourStep1()">Retour</app-button>
      <app-button type="primary" (click)="validateStep2()">Suivant</app-button>
    </div>
    <form [formGroup]="formMovementInformation">
      <ng-container *ngIf="movmentTypeSelected.isInternal === true">
        <div class="flex flex-col gap-5">
          <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-700">
                <thead class="text-xs text-white uppercase bg-gray-700">
                    <tr>
                      <th scope="col" class="px-6 py-3">
                          Article
                      </th>
                      <th scope="col" class="px-6 py-3">
                          Quantité
                      </th>
                      <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                  <ng-container formArrayName="movementLines">
                    <tr
                    class="odd:bg-white even:bg-gray-50 border-b" *ngFor="let movementLine of movementLines.controls; let i = index" [formGroupName]="i">
                      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        <app-select formControlName="articleId" [tOptions]="toArticleSource" [labelKey]="['referenceCode', 'label']"   label="Article"></app-select>
                      </th>
                      <td class="px-6 py-4">
                        <app-input type="number" formControlName="quantity" label="Quantité"></app-input>
                        <div *ngIf="movementLine.get('quantity').hasError('maxQuantity')" class="text-red-500 text-sm">
                          Quantité maximale disponible: {{ mapArticleQuantitySource[movementLine.get('articleId').value] }}
                        </div>
                      </td>
                      <td class="text-center">
                        <fa-icon class="w-10 h-10 flex justify-center items-center text-black rounded-full hover:bg-gray-300 cursor-pointer transition-colors duration-300" [icon]="faXmark" (click)="removeMovementLine(i)"></fa-icon>
                      </td>
                    </tr>
                  </ng-container>

                    <ng-container >
                      <tr
                      class="odd:bg-white even:bg-gray-50 border-b">

                          <td colspan="2" class="text-center"><app-button (click)="addMovementLine()">Ajouter une ligne</app-button></td>
                      </tr>
                    </ng-container>
                </tbody>
            </table>
          </div>

      </div>
      </ng-container>

      <ng-container *ngIf="!movmentTypeSelected.isInternal">
        <div class="flex flex-col gap-5">
          <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-700">
                <thead class="text-xs text-white uppercase bg-gray-700">
                    <tr>
                      <th scope="col" class="px-6 py-3">
                          Article
                      </th>
                      <th scope="col" class="px-6 py-3">
                          Quantité
                      </th>
                      <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                  <ng-container formArrayName="movementLines">
                    <tr
                    class="odd:bg-white even:bg-gray-50 border-b" *ngFor="let movementLine of movementLines.controls; let i = index" [formGroupName]="i">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        <app-select formControlName="articleId" [tOptions]="toArticle" [labelKey]="['referenceCode', 'label']" label="Article"></app-select>
                      </th>
                        <td class="px-6 py-4">
                          <app-input type="number" formControlName="quantity" label="Quatité"></app-input>
                        </td>
                        <td class="text-center">
                          <fa-icon class=" w-10 h-10 flex justify-center items-center text-black rounded-full hover:bg-gray-300 cursor-pointer transition-colors duration-300" [icon]="faXmark" (click)="removeMovementLine(i)"></fa-icon>

                        </td>
                    </tr>
                  </ng-container>

                    <ng-container >
                      <tr
                      class="odd:bg-white even:bg-gray-50 border-b">
                          <td colspan="2" class="text-center"><app-button (click)="addMovementLine()">Ajouter une ligne</app-button></td>
                      </tr>
                    </ng-container>
                </tbody>
            </table>
          </div>
      </div>
      </ng-container>
    </form>

  </ng-container>

  <ng-container *ngIf="stepDisplayed === 3">
    <div class="w-full flex flex-row justify-between gap-5 mb-5">
      <app-button (click)="retourStep2()">Retour</app-button>
      <app-button type="primary" (click)="enregistrer()">Finaliser le mouvement</app-button>
    </div>
    <div class="p-4 bg-white shadow-md rounded-lg">
      <h3 class="text-lg font-semibold text-gray-800">Résumé du Mouvement</h3>
      <div class="mt-4 mb-4">
        <p><strong>Référence :</strong> {{ formMovementInformation.get('reference').value }}</p>
        <p><strong>Type de mouvement :</strong> {{ movmentTypeSelected?.label }}</p>
        <p><strong>Date et Heure du mouvement :</strong> {{ formMovementInformation.get('dateTime').value | date:'medium' }}</p>
        <p *ngIf="movmentTypeSelected.isInternal"><strong>Source :</strong> {{ getSourceInventoryLabel() }}</p>
        <p><strong>Destination :</strong> {{ getDestinationInventoryLabel() }}</p>
      </div>
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-700">
          <thead class="text-xs text-white uppercase bg-gray-700">
            <tr>
              <th scope="col" class="px-6 py-3">Article</th>
              <th scope="col" class="px-6 py-3">Quantité</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let line of movementLines.controls; let i = index">
              <tr *ngIf="line.valid" [ngClass]="{'bg-white': i % 2 === 0, 'bg-gray-50': i % 2 !== 0}">
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                  {{ getArticleLabel(line.get('articleId').value) }}
                </td>
                <td class="px-6 py-4 ">
                  {{ line.get('quantity').value }}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
</div>
