name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:

  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Deploy to VPS
      uses: appleboy/ssh-action@v0.1.6
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_SSH_KEY }}
        port: ${{ secrets.VPS_PORT }}
        script: |

          cd easy-inventory
          git pull origin main
          
          echo "TYPEORM_HOST=my_postgres" > .env
          echo "TYPEORM_PORT=5432" >> .env
          echo "TYPEORM_USERNAME=${{ secrets.TYPEORM_USERNAME }}" >> .env
          echo "TYPEORM_PASSWORD=${{ secrets.TYPEORM_PASSWORD }}" >> .env
          echo "TYPEORM_DATABASE=easyinventory" >> .env
          echo "JWT_SECRET_KEY=${{ secrets.JWT_SECRET_KEY }}" >> .env
          echo "NODE_ENV=production" >> .env
          echo "POSTGRES_USER=${{ secrets.POSTGRES_USER }}" >> .env
          echo "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}" >> .env
          echo "POSTGRES_DB=easyinventory" >> .env
          echo "PUPPETEER_PATH=/usr/bin/chromium" >> .env
          echo "TEMPLATES_PATH=/usr/src/app/dist/templates" >> .env
          echo "STORAGE_PATH=/usr/src/app/storage" >> .env
          
          docker compose up -d --build

          docker image prune -a -f